<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.my_meal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" My Meals"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".My_Posts"
            android:label="My Posts"
            android:parentActivityName=".Categories"


            ></activity>


        <activity android:name=".ViewImageActivity" />
        <activity android:name=".Categories" android:parentActivityName=".MainActivity" android:label=" Categories"/>
        <activity android:name=".meals" android:parentActivityName=".Categories" android:label=" Meals"/>


        <activity android:name=".signup" android:parentActivityName=".MainActivity" android:label=" SignUp"/>

        <activity android:name=".ShowImages" android:parentActivityName=".Categories" android:label=" Share your Meals"/>
        <activity
            android:name=".MainActivity"
            android:label=" My Meal"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>